%h3 SGL Project Timer

.nav
  =link_to "Projects", projects_path
  =link_to "Employees", employees_path
  =link_to "Log Out", log_out_path

=form_for times_path do |f|
  =f.label :notes, "Notes"
  =f.text_area :notes
  =text_field_tag "curent_time"
  =f.submit "Start"
  =f.submit "Stop"
- if @project
  %table
    %tr
      %th user
      %th clock in 
      %th clock out  
      %th notes
      %th decimal
      %th action
    -@proejct.times.each do |time|
      =form_for time do |f|
        %tr
          %td= time.employee.username
          %th= time.clock_in
          %th= time.clock_out
          %th= time.notes
          %th= f.text_field :time_decimal
          %th= f.submit "save"
%p 
  Total Time:
  =@project.total_time if @project
