%h3 SGL Project Timer


=simple_form_for @timer, :url => timer_path do |f|
  =f.input :project_id, :collection => @projects, :prompt => "Select your project"
  =f.input :notes
  -if @timer.clocked_in?
    =f.button :submit, "Stop"
    =f.input :id, :as => :hidden
  -else
    =f.button :submit, "Start"

-if @project
  .project_times
    %table
      %tr
        %th user
        -#%th clock in 
        -#%th clock out  
        %th notes
        %th decimal
        %th action
      -@project.times.each do |time|
        =simple_form_for time do |f|
          %tr
            %td= time.employee.username
            -#%th= time.clock_in
            -#%th= time.clock_out
            %th= time.notes
            %th= f.input :total_time, :label_html => {:hidden => true} 
            %th= debug time.total_time
            %th= f.button :submit, "Update"

    %p 
      Total Time:
      =@project.total_time if @project
