<!DOCTYPE html>
<html>
  <head>
    <title>SglTimer</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller] %> <%= clocked_in_class %>">
    <%= flash_message %>
    <% if current_user %>
      <div class="nav">
        <%=link_to "Home", timer_path %>
        <%=link_to "Projects", projects_path %>
        <%=link_to "Employees", employees_path %>
        <%=link_to "Log Out", log_out_path %> 
      </div>
    <% end %>
    <%= yield %>
    <div class="forkme">
      <%= link_to "Fork me on GitHub!", "https://github.com/priceflex/fuzzy-octo-timer" %>
    </div>
  </body>
</html>
